name: StaticAnalysis

on: [push]

jobs:
  build:
    runs-on: ubuntu-18.04
    
    steps:
    - uses: actions/checkout@v2
    
    - name: Install packages
      run: sudo apt-get update && sudo apt-get install -y git build-essential mpich clang-tools

    # - name: Compile (serial)
    #   run: |
    #     cd Analysis
    #     sed -i 's|#define MP|// #define MP|g' bici.cc
    #     g++ bici.cc header/tinyxml2.cc -O3 -o bici

    - name: Perform static analysis
      run: |
        cd Analysis
        sed -i 's|#define MP|// #define MP|g' bici.cc
        scan-build -o buildhtml make -e

    - name: Set up ssh agent
      uses: webfactory/ssh-agent@v0.2.0
      with:
        ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

    - name: Add host public key
      run: |
        echo "152.67.131.35 ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQCedi8BdVnymEHtXQ6u7WBi0UAcQdsOEub25kzzCRDMmOOFsicdW30G+wePmw1DbV7HdHONqSo8S5+GmH0Et546TW/8HqaklnOe+1It18XIcvA58Bh8cPv/0r02OJAkmwk7Qja+dOg5iXZSWceTvW6dN/2TuJEXdYGBY1cI9847v8hGGbmH+SZ6wIWrDX/aMgND449ikstfguOckEuBAL1OdOyRm1Li8CtHtQNRefGPZpvtpeKzDB2rkFo+G/nBmBdPJ+kCXiblIMoKK2UhZbz5VYxBmbOUcG4Xq+9EnyxgUcX7VSKfuzIMhJK7OVFbpOs0JTawMhZQzExh9SCKFLavo2arL4WL1EvGKEbZFWedU+lW4vtsaUz2uTg5x6NV7aX+kbSo3Aq2cbxhbAhmt2aw/tFDNil+bUBb0NMWrYbzp5oFCBSw0KpBwGQx/Rc7H+gI0wVGFw24G4Dud1O3JAjv8bBRzihX/m10QsnRm56xVu/JTUuUasaG0Ocyv3uOqfM=" >> ~/.ssh/known_hosts

    - name: Upload results to website
      run: |
        dir=$GITHUB_RUN_ID/$GITHUB_WORKFLOW/clang-analyzer
        mkdir -p $(dirname $dir)
        ln -s $PWD/Analysis/buildhtml/* $dir
        find $dir
        rsync --relative -avz --no-implied-dirs $dir ian@152.67.131.35:
        url=http://152.67.131.35/coronabici/${dir}/
        echo "::message ::Static analysis output available at $url" >&2
